include AUTHORS
include CHANGELOG
include LICENSE
include VERSION
include README.rst
include MANIFEST.in
recursive-include tests *.py
include pytest.ini
include tox.ini
include requirements.txt
global-exclude *.orig *.py[co] *.log *.swp *.eggs *.html
